extends import-films-layout.pug

block content
     .page
     .error-container
      h1 Error 404
      p Oops! The page you're looking for doesn't exist.
      a.button(href='/films/import-films') Go Back Home