extends import-movies-layout.pug

block content
      form(action="/api/v1/movies/import" method="post" enctype="multipart/form-data")
        label(for="data") Choose a File to Download:
        input(type="file" id="data" name="data" accept=".txt")

        button(type="submit") Download File