doctype html
html
  head
    title File Download
    link(rel="stylesheet" href="/styles.css")

  body
    header
      h1 File Download
      h6 NOTE: Supports only .txt format

    main
      form(action="/films/import-films" method="post" enctype="multipart/form-data")
        label(for="data") Choose a File to Download:
        input(type="file" id="data" name="data" accept=".txt")

        button(type="submit") Download File

    footer
      p